@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
    --background: oklch(0.9889 0.004 286.3272);
    --foreground: oklch(0.313 0.0132 267.1235);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.313 0.0132 267.1235);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.313 0.0132 267.1235);
    --primary: oklch(0.4189 0.0836 169.2526);
    --primary-foreground: oklch(1 0 0);
    --secondary: oklch(0.9066 0.029 91.6558);
    --secondary-foreground: oklch(0.313 0.0132 267.1235);
    --muted: oklch(0.9621 0.0034 67.7826);
    --muted-foreground: oklch(0.5451 0.0163 268.3688);
    --accent: oklch(0.9273 0.01 155.0868);
    --accent-foreground: oklch(0.4541 0.0643 154.1868);
    --destructive: oklch(0.7239 0.0791 19.1699);
    --destructive-foreground: oklch(1 0 0);
    --border: oklch(0.8816 0.0047 258.3261);
    --input: oklch(0.9607 0.0017 247.8395);
    --ring: oklch(0.7239 0.0797 154.9859);
    --chart-1: oklch(0.7239 0.0797 154.9859);
    --chart-2: oklch(0.8486 0.0563 92.5465);
    --chart-3: oklch(0.7982 0.0281 249.9061);
    --chart-4: oklch(0.7857 0.0454 346.591);
    --chart-5: oklch(0.8245 0.0601 107.6489);
    --sidebar: oklch(0.9667 0.012 286.1737);
    --sidebar-foreground: oklch(0.313 0.0132 267.1235);
    --sidebar-primary: oklch(0.7239 0.0797 154.9859);
    --sidebar-primary-foreground: oklch(1 0 0);
    --sidebar-accent: oklch(0.9273 0.01 155.0868);
    --sidebar-accent-foreground: oklch(0.4541 0.0643 154.1868);
    --sidebar-border: oklch(0.8816 0.0047 258.3261);
    --sidebar-ring: oklch(0.7239 0.0797 154.9859);
    --font-sans: "Ubuntu", ui-sans-serif, sans-serif, system-ui;
    --font-serif: "Ghibli Serif", serif;
    --font-mono: "Ghibli Mono", monospace;
    --radius: 0.5rem;
    --shadow-x: 0px;
    --shadow-y: 4px;
    --shadow-blur: 10px;
    --shadow-spread: -3px;
    --shadow-opacity: 0.08;
    --shadow-color: #303236;
    --shadow-2xs: 0px 4px 10px -3px hsl(220 5.8824% 20% / 0.04);
    --shadow-xs: 0px 4px 10px -3px hsl(220 5.8824% 20% / 0.04);
    --shadow-sm:
        0px 4px 10px -3px hsl(220 5.8824% 20% / 0.08),
        0px 1px 2px -4px hsl(220 5.8824% 20% / 0.08);
    --shadow:
        0px 4px 10px -3px hsl(220 5.8824% 20% / 0.08),
        0px 1px 2px -4px hsl(220 5.8824% 20% / 0.08);
    --shadow-md:
        0px 4px 10px -3px hsl(220 5.8824% 20% / 0.08),
        0px 2px 4px -4px hsl(220 5.8824% 20% / 0.08);
    --shadow-lg:
        0px 4px 10px -3px hsl(220 5.8824% 20% / 0.08),
        0px 4px 6px -4px hsl(220 5.8824% 20% / 0.08);
    --shadow-xl:
        0px 4px 10px -3px hsl(220 5.8824% 20% / 0.08),
        0px 8px 10px -4px hsl(220 5.8824% 20% / 0.08);
    --shadow-2xl: 0px 4px 10px -3px hsl(220 5.8824% 20% / 0.2);
    --tracking-normal: 0em;
    --spacing: 0.25rem;
}

.dark {
    --background: oklch(0.264 0.012 264.345);
    --foreground: oklch(0.9227 0.0059 239.8247);
    --card: oklch(0.2921 0.014 261.7008);
    --card-foreground: oklch(0.9227 0.0059 239.8247);
    --popover: oklch(0.2921 0.014 261.7008);
    --popover-foreground: oklch(0.9227 0.0059 239.8247);
    --primary: oklch(0.6461 0.0887 153.828);
    --primary-foreground: oklch(1 0 0);
    --secondary: oklch(0.516 0.0607 92.4416);
    --secondary-foreground: oklch(0.9227 0.0059 239.8247);
    --muted: oklch(0.3628 0.0132 261.7364);
    --muted-foreground: oklch(0.6799 0.0112 247.9927);
    --accent: oklch(0.433 0.0317 154.9873);
    --accent-foreground: oklch(0.9643 0.0041 157.1774);
    --destructive: oklch(0.5108 0.1112 21.7618);
    --destructive-foreground: oklch(1 0 0);
    --border: oklch(0.4088 0.0159 266.5255);
    --input: oklch(0.3901 0.0161 266.5074);
    --ring: oklch(0.6461 0.0887 153.828);
    --chart-1: oklch(0.6461 0.0887 153.828);
    --chart-2: oklch(0.6289 0.0854 91.1258);
    --chart-3: oklch(0.5897 0.0431 247.3978);
    --chart-4: oklch(0.5718 0.0772 347.9023);
    --chart-5: oklch(0.6334 0.0755 108.3744);
    --sidebar: oklch(0.2308 0.0101 268.2423);
    --sidebar-foreground: oklch(0.9227 0.0059 239.8247);
    --sidebar-primary: oklch(0.6461 0.0887 153.828);
    --sidebar-primary-foreground: oklch(1 0 0);
    --sidebar-accent: oklch(0.433 0.0317 154.9873);
    --sidebar-accent-foreground: oklch(0.9643 0.0041 157.1774);
    --sidebar-border: oklch(0.4088 0.0159 266.5255);
    --sidebar-ring: oklch(0.6461 0.0887 153.828);
    --font-sans: "Ubuntu", ui-sans-serif, sans-serif, system-ui;
    --font-serif: "Ghibli Serif", serif;
    --font-mono: "Ghibli Mono", monospace;
    --radius: 0.5rem;
    --shadow-x: 0px;
    --shadow-y: 4px;
    --shadow-blur: 10px;
    --shadow-spread: -3px;
    --shadow-opacity: 0.3;
    --shadow-color: #18191b;
    --shadow-2xs: 0px 4px 10px -3px hsl(220 5.8824% 10% / 0.15);
    --shadow-xs: 0px 4px 10px -3px hsl(220 5.8824% 10% / 0.15);
    --shadow-sm:
        0px 4px 10px -3px hsl(220 5.8824% 10% / 0.3),
        0px 1px 2px -4px hsl(220 5.8824% 10% / 0.3);
    --shadow:
        0px 4px 10px -3px hsl(220 5.8824% 10% / 0.3),
        0px 1px 2px -4px hsl(220 5.8824% 10% / 0.3);
    --shadow-md:
        0px 4px 10px -3px hsl(220 5.8824% 10% / 0.3),
        0px 2px 4px -4px hsl(220 5.8824% 10% / 0.3);
    --shadow-lg:
        0px 4px 10px -3px hsl(220 5.8824% 10% / 0.3),
        0px 4px 6px -4px hsl(220 5.8824% 10% / 0.3);
    --shadow-xl:
        0px 4px 10px -3px hsl(220 5.8824% 10% / 0.3),
        0px 8px 10px -4px hsl(220 5.8824% 10% / 0.3);
    --shadow-2xl: 0px 4px 10px -3px hsl(220 5.8824% 10% / 0.75);
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);

    --font-sans: var(--font-sans);
    --font-mono: var(--font-mono);
    --font-serif: var(--font-serif);

    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);

    --shadow-2xs: var(--shadow-2xs);
    --shadow-xs: var(--shadow-xs);
    --shadow-sm: var(--shadow-sm);
    --shadow: var(--shadow);
    --shadow-md: var(--shadow-md);
    --shadow-lg: var(--shadow-lg);
    --shadow-xl: var(--shadow-xl);
    --shadow-2xl: var(--shadow-2xl);
}

body {
    letter-spacing: var(--tracking-normal);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
        letter-spacing: var(--tracking-normal);
    }
}

@layer base {
    button:not([disabled]),
    [role="button"]:not([disabled]) {
        cursor: pointer;
    }
}

/* React Flow node selection styles */
.react-flow__node.selected #base-node {
    @apply ring-3 ring-muted-foreground/25 shadow-lg;
}
